* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body,
html {
    margin: 0;
    padding: 0;
    height: 100vh; /* Extra height to enable scrolling */
}
#page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 2rem;
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}
.page1 {
    background: orangered;
    color: cadetblue;
}
.page2 {
    background: cadetblue;
    color: orangered;
}
.page3 {
    background: cornflowerblue;
    color: goldenrod;
}
.page4 {
    background: hotpink;
    color: #ddd;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
